{% extends "base.t.html" %}
{% block content scoped %}
<div>
    <table class="report_info">
        <tr><td>ID</td><td>{{ report.id }}</td></tr>
        <tr><td>Product</td><td>{{ report.product|d }}</td></tr>
        <tr><td>Version</td><td>{{ report.version|d }}</td></tr>
        <tr><td>Timestamp</td><td>{{ report.timestamp|d }}</td></tr>
        <tr><td></td><td><pre>{{ raw }}</pre></td></tr>
        <tr><td></td><td><a href="{{ url_for('download_report', id=report.id) }}">Download</a></td></tr>
    </table>
</div>
{% endblock %}